parameters:
  reportUnmatchedIgnoredErrors: false
  tipsOfTheDay: false
  level: 1
  tmpDir: .cache/phpstan/
  paths:
    - app/modules/custom
    - app/themes/custom
  fileExtensions:
    - php
    - inc
    - install
    - module
    - theme
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    # Ignore common errors for now.
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"
    - "#^Plugin definitions cannot be altered.#"
    - "#^Missing cache backend declaration for performance.#"
    - "#cache tag might be unclear and does not contain the cache key in it.#"
    - "#^Class .* extends @internal class#"
